datacenter          = "cloud-datacenter"
data_dir            = "/opt/consul/data"
bind_addr           = "0.0.0.0"
advertise_addr      = "{{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}"
server              = true
bootstrap_expect    = 3
retry_join          = ["{{ groups['cluster'][0] }}", "{{ groups['cluster'][1] }}", "{{ groups['cluster'][2] }}"]
ui                  = true
