datacenter = "cloud-datacenter"
data_dir = "/opt/nomad/data"
bind_addr = "{{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}"
server = true
bootstrap_expect = 3
retry_join = ["{{ groups['cluster'][0] }}", "{{ groups['cluster'][1] }}", "{{ groups['cluster'][2] }}"]
consul = {
  address = "{{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}:8500"
}
